.App {
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  margin: 3rem 3rem 5rem 3rem;
  text-align: center;

  h1 {
    margin-top: 4rem;
  }
}

.App-link {
  color: #F58272;
}

.week-header {
  text-align: center;
  margin-bottom: 2rem;
}

.description-header {
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}

ol,ul {
  li {
    margin-bottom: .5rem;
    line-height: 1.5
  }
}
